* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: monospace;
}
header{
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(WhatsApp\ Image\ 2022-04-24\ at\ 9.54.15\ PM.jpeg);
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    padding-top: 2rem;
    text-shadow: 0px -3px 3px rgba(0,0,0,1);
}
p{
    color: #fff;
    margin-top: 1rem;
}
.primero{
    margin-top: 2rem;
    background-color: #000;
}
.primero i{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 3rem;
}
main{
    background-image: url(WhatsApp\ Image\ 2022-04-24\ at\ 9.54.15\ PM\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 34rem;
    display: flex;
    flex-direction: column;
}
.main{
    width: 90%;
    margin: auto;
    text-align: center;
}
.main h2{
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: .7rem;
}
.main h3{
    color: #000;
    font-size: 1.1rem;
    padding-bottom: .4rem;
    text-shadow: 1px -2px 2px rgba(255, 255, 255, 0.7);
}
.main .boton{
    margin-top: 1rem;
}
.main .segundo{
    margin-top: 2rem;
}
.main .segundo i{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 3rem;
    background-color: #000;

}
footer{
    background-color: #183153;
    height: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
footer h3{
    color: #fff;
    text-align: center;
}
div i{
    padding-top: 1rem;
    font-size: 3rem;
    color: red;
}